<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} - Trevor Whitney" : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="header">
        <h1>Trevor Whitney</h1>
    </div>
    <div class="box">
      <div class="chains">
        <% @boards = ['Musings', 'Development', 'Lesson Plans', 'Contact Me'] %>
        <% @boards.each_with_index do |chain, index| %> 
          <% if index == 0 %>
            <ul class="first">
          <% else %>
            <ul>
          <% end %>
              <li class="first">
                <%= image_tag "chain.png" %>
              </li>
              <li>
                <%= image_tag "chain.png" %>
              </li>
            </ul>
        <% end %>
      </div>
      <div class="top_nav">
          <ul class="boards">
            <% @boards.each_with_index do |board, index| %>
              <% if index == 0 %>
                <li class="first">
              <% else %>
                <li>
              <% end %>
                <%= board %></li>
            <% end %>
          </ul>
      </div>
      <div id="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
